<div id="<%= dom_id concert %>">
  <p>
    <strong>Date:</strong>
    <%= concert.date %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= concert.spot %>
  </p>

  <p>
    <strong>Amount people:</strong>
    <%= concert.amount_people %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= concert.group %>
  </p>

</div>
